{% extends "templateinit.twig" %}

{% block title %}
Contact sur le site d'Anne Madamet
{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}

    <h1>{{ a_variable }}</h1>

    <section id='contact'>
        <div class = "formulaire">

            <form action="{{ base }}/contact" method="post" enctype="multipart/form-data" name="contact">
            
                <div>
                    <label for="nom">Nom</label><br />
                    <input type="text" id="nom" name="nom" />
                </div>
                <div>
                    <label for="prenom">Prénom</label><br />
                    <input type="text" id="prenom" name="prenom" />
                </div>
                <div>
                    <label for="mail">Mail</label><br />
                    <input type="email" id="mail" name="mail" />
                </div>
                <div id="divsendpicture">
                    <div>
                        <input type="checkbox" id="envoiphotoid" name="envoiphoto">
                        <label for="envoiphoto">Je désire envoyer une photo pour une reproduction par l'artiste</label>
                    </div>
                    <div id="choixphotodiv">
                        <label for="choixphoto">Choisissez votre photo sur votre ordinateur (format .jpg, .jpeg, .png, .gif uniquement)</label>
                        <input type="file" id="choixphotoid" name="choixphoto" accept=".jpg, .jpeg, .png, .gif"/>
                    </div>
                </div>
                <div id="demandediv">
                    <label for="demandeid" id = "demandelabelid">Votre demande</label><br />
                    <textarea id="demandeid" name="demande" cols="60" rows="10"></textarea>>
                </div>
                <div>
                    <input type="submit" />
                </div>
            </form>
        </div>
    </section>


{% endblock %}