{% extends "templateinit.twig" %}

{% block title %}Les oeuvre d'Anne Madamet
{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
    <p>Vous venez de faire votre premier template avec {{ moteur_name }} !</p>
    <h1>{{ a_variable }}</h1>
    <ul id="Listeoeuvre">
        {% for oeuvre in oeuvres %}
            <li>titre : {{ oeuvre.username|e }}</li>
                
        {%  else  %}
            Aucun lien n'a été trouvé.
        {% endfor %}
    </ul>
{% endblock %}