{% extends "templateinit.twig" %}

{% block title %}Le site d'Anne Madamet
{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}

    <h1>{{ a_variable }}</h1>

    
    <p>page d'accueil du site de Anne Madamet</p>
    <a href="/Mes oeuvres">Mes oeuvres</a></li>
    
    
       
   
{% endblock %}